@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brisbane <br />
    Griffith university Nathan Campus<br />
    <abbr title="Phone">P:</abbr>
   0428210335
</address>

<address>
    <strong>Support:</strong>   <a href="betwar512t@live.com">betwar512@live.com</a><br />
    <strong>Marketing:</strong> <a href="betwar512@gmail.com">betwar512@gmail.com</a>
</address>