@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="padding-bottom:150px;">
    <h1>Restaurant Ordering System </h1>
    <p class="lead">
        This Web Application Created for Software Engineering Assignment part 2 ICT 2014
        You can find all the link needed to works with application in this page
    </p>
    <p>
        <a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                You can find customers by name and create new Order for the Customer
            </p>
            <p><a class="btn btn-default" href="/Customers/Index">Find Customer &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Add Items to Menu </h2>
            <p>This application has 2 type of menu :side and main menu ,you can add items into both menus</p>
            <p><a class="btn btn-default" href="/Items/Create">Add Item &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Reports</h2>
            <p>You can get everyday report from here </p>
            <p><a class="btn btn-default" href="">Report &raquo;</a></p>
        </div>
    </div>
</div>