@model IEnumerable<RestaurantUnitTest.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Label("search by phone")
@Html.TextBox("searchBox")
<input id="searchBtn" type="button" value="find Customer" />

<div id="customers"></div>

@* ajax script to pass data between html and C# *@
@section Scripts {
    <script>
            $("#searchBtn").click(function () {
                var searchString = $("#searchBox").val();
                $.ajax({
                    url: '/Customers/findCustomer',
                    contentType: 'application/html; charset=utf-8',
                    data:{passedString :searchString },
                    type: 'Get',
                    dataType:'html'
                })
                .success(function (result) {

                    $('#customers').html(result);
                })
                .error(function (xhr, status) {
                    alert(status);
                })

            })
    </script>
}
