@model IEnumerable<RestaurantUnitTest.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Label("search by phone")
@Html.TextBox("searchBox")
<input id="searchBtn" type="button" value="find Customer" />

<div id="customers"></div>
        <p>
      @Html.ActionLink("Create New", "Create")
        </p>
            @*
             *Ajax action to send data to controller ,
             * send data : PhoneNumber 
             * Return partial view and replace it in div id customer
             *@
    <script>
            $("#searchBtn").click(function () {
                var searchString = $("#searchBox").val();
                $.ajax({
                    url: '/Customers/findCustomer',
                    contentType: 'application/html; charset=utf-8',
                    data:{passedString :searchString },
                    type: 'Get',
                    dataType:'html'
                })
                .success(function (result) {

                    $('#customers').html(result);
                })
                .error(function (xhr, status) {
                    alert(status);
                })

            })
    </script>
}
