body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('../images/7ee8461ff8e64b426a2b4521d664ae95.jpg') no-repeat no-repeat center center fixed padding-box;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right:15px;
    padding-top: 50px;
    background-color:white;
}
.navbar-defaul{
    padding-left:200px;
    padding-right:100px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-fluid{
    background-color:white;
    padding-top:20px;
    padding-left:28px;
    color:black;
 
}
