@model IEnumerable<RestaurantUnitTest.Models.Item>

            
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                    </div><!-- /.panel-heading -->

                    <div class="panel-body">
                        <!--timeLine here for items -->
                        <ul class="timeline">

                            @foreach (var t in Model)
                            {
                                var Photo = t.Picture;
                                var imagePath = @"images\thumbs\" + Photo;
                                <li>
                                    <div class="timeline-badge">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">

                                            <h4 class="timeline-title">@t.Name</h4>
                                            <p>
                                                <small class="text-muted"><i class="fa fa-clock-o"></i> @t.TimeStamp</small>
                                            </p>
                                        </div>
                                        <div class="timeline-body">
                                            <img src="/@imagePath" />

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
      

