@using RestaurantUnitTest.Models;
@model RestaurantUnitTest.Models.OrderItem
<div class="list-group-item">
    
    <i class="fa fa-glass">@(Model.Item.Name)</i>
   <span class="pull-right text-muted small">
       @{
           decimal pr = Model.UnitPrice * Model.Quantity;
       }
        <em><i class="fa fa-dollar"></i>@pr</em>
      
    </span>
</div>