@using RestaurantUnitTest.Models;
@model RestaurantUnitTest.Models.OrderItem
<div class="list-group-item">
    
    <i class="fa fa-glass">@(Model.Item.Name)</i>
   <span class="pull-right text-muted small">
       
        <em>@Model.Item.Price</em>
        
    </span>
</div>