@model IEnumerable<RestaurantUnitTest.Models.Order>

@{
    ViewBag.Title = "ReportDay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-10" style="padding-top:2em;">
    <section class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> ReportToday
        </div>
        <!-- /.panel-heading -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr>
                        <th>
                       Customer Name
                        </th>
                        <th>
                        Created At
                        </th>
                        <th>
                      Customer PhoneNumber
                        </th>
                        <th>
                       Total price
                        </th>
                    </tr>
                </thead>

                <tbody class="panel-body ">

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.FistName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeStamp)
                            </td>
                            <td>
                              @Html.DisplayFor(modelItem=>item.CustomerPhoneNumber)  
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderTotal)
                            </td>
                        </tr>
                    }
                    </tbody>

            </table>
            </div>
</section>
</div>